<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34681919799-539dnajnaf9k2bcr9ii48vn2brhvc0sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34681919799-539dnajnaf9k2bcr9ii48vn2brhvc0sh</string>
	<key>API_KEY</key>
	<string>AIzaSyC5_86tuVRY63KiX_gVjReIxYLn71AS0cw</string>
	<key>GCM_SENDER_ID</key>
	<string>34681919799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.0.AboutMe</string>
	<key>PROJECT_ID</key>
	<string>aboutme-7f4a6</string>
	<key>STORAGE_BUCKET</key>
	<string>aboutme-7f4a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34681919799:ios:61e4347ec3540d3558e2b2</string>
</dict>
</plist>